node_modules
.DS_Store
dist
dist-ssr
*.local

# 本地配置
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器忽略配置
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?